@media (max-width: 730px) {
    .navbar_search_bar{
     display:none;
    }
    .navbar_logo{
     width:30%;
    }
    .navbar_icon {
     font-size: 35px;
   }
   }

    @media (max-width: 1080px) {
    .navbar_search_bar{
     display:none;
    }
    .navbar_logo{
     width:30%;
    }
    .navbar_icon {
     font-size: 35px;
   }
   } 
.afterSignin{
    display:flex;
    align-items:center;
    gap: 15px;
}
.afterSignin p:nth-child(1){
    font-weight: 600;
}
.afterSignin p:nth-child(2){
    font-size: 13px;
} 
